<div class="container-fluid">
<%= render "shared/banner" %>
</div>
<br>
<div class="container">
  <div>
    <br>
    <h1>Available Buddies</h1>
      <br>
      <br>
      <div class='pet_list'>
        <% @buddies.each do |buddy| %>
          <%= render "shared/buddy_card", buddy: buddy %>
        <% end %>
      </div>
      <br>

    </div>
</div>
      <%= link_to "Your bookings", bookings_path, class: "button" %>
      <%= link_to "Add your buddy", new_buddy_path, class: "button" %>
