<div class="container-fluid">
  <div>
    <h2>bookings for meetups with buddy</h2>
      <br>
      <br>
      <div class='container'>
        <div class="row">
          <% @bookings.each do |booking| %>
            <div class="col-12 col-md-6 col-lg-3">
              <%= render "shared/booking_card", booking: booking %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="p-2">
        <%= link_to "back", buddies_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
</div>
