<div class="container">
  <div>
    <h1>bookings for meetups with buddy</h1>
      <br>
      <br>
      <div class='buddy_list'>
        <% @bookings.each do |booking| %>
          <%= render "shared/booking_card", booking: booking %>
        <% end %>
      </div>
      <%= link_to "back", buddies_path, class: "btn btn-outline-primary" %>
    </div>
</div>
