<div class="navbar">
  <div class="navbar-links">
    <a href="/"><i class="fas fa-home"></i></a>
    <a href="#">About loneBuddies</a>
    <a href="#">Find Buddies</a>
  </div>
  <div class="navbar-profile">
    <%= link_to 'logout', destroy_user_session_path, method: :delete  %>
    <div class="dropdown-banana">
      <button class="dropbtn">Amigos
        <i class="fas fa-heart"></i>
      </button>
      <div class="dropdown-content">
        <%= link_to "My bookings", bookings_path %>
        <%= link_to "Add your buddy", new_buddy_path %>
      </div>
    </div>

   <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/harrytimbog" />
  </div>
</div>
