.testing-card-product {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 100px;
}

.product-img {
  min-width: 300px;
  background-size: cover;
  background-position: center;
  width: 50%
}

.testing-card-product h2 {
  font-size: 40px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.testing-card-product h3 {
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.testing-card-product p {
  font-family: 'Source Serif Pro', serif;
  font-size: 18px;
  line-height: 1.5;
  opacity: 1;
  margin-bottom: 30px;
  margin-top: 30px;
}

.testing-card-product .testing-card-product-infos {
  padding: 32px;
}

.buddy_card {
  border: 1px #111d5e solid;
  margin: 12px;
}

.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 12px;
}

.card-description h4 {
  font-size: 16px;
  font-family: serif;
  color: #111d5e;
}

.card-description p {
  font-size: 14px;
  font-family: serif;
  color: #111d5e;
  border: black 1px, solid;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-remove-link {
  font-size: 16px;
  color: white;
  border-radius: 50%;
  // border: 1px solid white;s
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.8;
  // transform: rotatse(45deg);
  font-weight: lighter;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}
